$grid-max-width: 102.5rem; // 1640px
$grid-gutter: 4rem;

:root {
	--grid-max-width: #{$grid-max-width};
	--grid-gutter: 1.5rem;

	@media (width >= theme(--breakpoint-md)) {
		--grid-gutter: 2.5rem;
	}

	@media (width >= theme(--breakpoint-xl)) {
		--grid-gutter: 4rem;
	}
}
