@media (width < theme(--breakpoint-xl)) {
	.b-index {
		@apply mt-32;

		h2 {
			font-size: clamp(2rem, 4vw, 2.7125rem);
			line-height: 1.1;
		}

		&__list {
			@apply mt-12;
		}

		&__row {
			@apply py-8;
		}

		&__title {
			font-size: clamp(1.75rem, 4vw, 3rem);
			line-height: 1.1;
		}
	}
}

@media (width < theme(--breakpoint-lg)) {
	.b-index {
		&__row {
			@apply gap-y-3;

			> * {
				grid-column: 1 / -1;
			}
		}
	}
}

@media (width < theme(--breakpoint-md)) {
	.b-index {
		@apply mt-24;
	}
}
