@media (width < theme(--breakpoint-xl)) {
	.b-process {
		@apply mt-32 pt-0;

		h2 {
			font-size: clamp(2.25rem, 5vw, 4rem);
			line-height: 1.1;
		}

		&__list {
			@apply mt-16;
		}

		&__item {
			@apply py-10;
		}

		h3 {
			font-size: clamp(1.625rem, 3vw, 2.25rem);
			line-height: 1.2;
		}
	}
}

@media (width < theme(--breakpoint-lg)) {
	.b-process {
		&__item > * {
			grid-column: 1 / -1;
		}

		// .o-grid sets a larger gap, so this needs the extra class
		&__item.o-grid {
			@apply gap-y-4;

			> .c-eyebrow {
				@apply pt-0;
			}
		}

		&__text {
			@apply pt-0;

			max-width: 34rem;
		}
	}
}

@media (width < theme(--breakpoint-md)) {
	.b-process {
		@apply mt-24;
	}
}
