DB_HOST=db
DB_NAME=db
DB_USER=db
DB_PASSWORD=db
DB_PREFIX=wp_

WP_ENV=development
WP_HOME=https://project.ddev.site
# WP_HOME=http://PROJECT_NAME.com
WP_SITEURL=${WP_HOME}/wp

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'

SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=

ACF_PRO_KEY=
WP_PLUGIN_GF_KEY=
RECAPTCHA_SITE_KEY=
RECAPTCHA_SITE_SECRET=
GOOGLE_API_KEY=
