@layer components {
	.c-site-header {
		@apply relative z-20;

		border-bottom: 1px solid var(--color-ink);

		&__inner {
			@apply grid items-center;

			grid-template-columns: 1fr auto 1fr;
			height: 8.0625rem; // 129px
		}

		&__logo {
			img {
				@apply block;
				width: 7.375rem; // 118px
			}
		}

		&__toggle {
			@apply flex items-center cursor-pointer;

			gap: 0.625rem;
		}

		&__bars {
			@apply flex flex-col;

			width: 2.0625rem; // 33px
			gap: 0.28125rem;

			span {
				@apply block;

				height: 1.5px;
				background: var(--color-ink);

				&:last-child {
					width: 1.125rem;
				}
			}
		}
	}
}
