/*
 * Body lock scroll hack
 * https://github.com/willmcpo/body-scroll-lock/issues/173
 */
body[style*='padding-right: 14px'] .c-site-header { padding-right: 14px; }
body[style*='padding-right: 15px'] .c-site-header { padding-right: 15px; }
body[style*='padding-right: 16px'] .c-site-header { padding-right: 16px; }
body[style*='padding-right: 17px'] .c-site-header { padding-right: 17px; }
body[style*='padding-right: 18px'] .c-site-header { padding-right: 18px; }
